@charset "UTF-8";

@font-face {
  font-family: "diegoversiani-icons";
  src:url("fonts/diegoversiani-icons.eot");
  src:url("fonts/diegoversiani-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/diegoversiani-icons.woff") format("woff"),
    url("fonts/diegoversiani-icons.ttf") format("truetype"),
    url("fonts/diegoversiani-icons.svg#diegoversiani-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "diegoversiani-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fa-"]:before,
[class*=" fa-"]:before {
  font-family: "diegoversiani-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-linkedin-square:before {
  content: "\61";
}
.fa-github:before {
  content: "\62";
}
.fa-facebook-square:before {
  content: "\63";
}
.fa-envelope:before {
  content: "\64";
}
.fa-external-link:before {
  content: "\65";
}
