---
layout: default
ref: index
lang: pt
---

<section class="profile">
  <div class="container">
    <div class="four columns">
      <div class="picture">
        <img src="http://www.gravatar.com/avatar/09bde1935a1a7c56c7f6529fdc148956?size=250" alt="Diego's Profile Picture">
      </div>
    </div>
    <div class="eight columns">
      <div class="about">
        <h1>Oi, me chamo Diego</h1>
        <h3>Eu desenvolvo websites em WordPress para &oacute;tima experi&ecirc;ncia dos visitantes.</h3>
        <p>Vamos nos conhecer, <a href="{{ '/sobre' | prepend: site.baseurl }}">eu come&ccedil;o &raquo;</a></p>
      </div>
    </div>
  </div>
</section>

<section class="value-props">
  <div class="container">
    <h3>O que faço bem</h3>
    <div class="row">
      <div class="six columns value-prop">
        <h5 class="title">Websites Modernos</h5>
        <p>Websites r&aacute;pidos, seguros e f&aacute;ceis de gerenciar que funcionam bem em qualquer tamanho de tela, de smartphones a tablets e computadores.</p>
      </div>
      <div class="six columns value-prop">
        <h5 class="title">Experi&ecirc;ncia do visitante</h5>
        <p>De que adianta ser o mais bonito, com os recursos mais novos se ele n&atilde;o ajuda a atingir seus objetivos?<br>
        A experi&ecirc;ncia dos visitantes &eacute; o que mais importa em um website.<br>
        Converta os visitantes de seu site em clientes fi&eacute;is!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="skillset">
  <div class="container">
    <h3>Habilidades</h3>
    
    <div class="row">
      
      <div class="four columns">
        <h5>Front-end</h5>
        <ul class="skillset__list">
          <li class="skillset__list-item skillset__list-item--advanced">Websites e temas para WordPress<progress max="100" value="95"></progress></li>
          <li class="skillset__list-item skillset__list-item--advanced">HTML5, CSS3 &amp; JavaScript<progress max="100" value="95"></progress></li>
          <li class="skillset__list-item skillset__list-item--begginer">AngularJS<progress max="100" value="25"></progress></li>
        </ul>
      </div>

      <div class="four columns">
        <h5>Back-end</h5>
        <ul class="skillset__list">
          <li class="skillset__list-item skillset__list-item--advanced">SQL e Banco de Dados Relacionais<progress max="100" value="95"></progress></li>
          <li class="skillset__list-item skillset__list-item--begginer">Ruby on Rails<progress max="100" value="40"></progress></li>
          <li class="skillset__list-item skillset__list-item--begginer">MongoDB<progress max="100" value="25"></progress></li>
        </ul>
      </div>

      <div class="four columns">
        <h5>L&iacute;nguas</h5>
        <ul class="skillset__list">
          <li class="skillset__list-item skillset__list-item--language">Portugu&ecirc;s (nativo)<progress max="100" value="100"></progress></li>
          <li class="skillset__list-item skillset__list-item--language">Ingl&ecirc;s<progress max="100" value="85"></progress></li>
          <li class="skillset__list-item skillset__list-item--language">Franc&ecirc;s<progress max="100" value="35"></progress></li>
        </ul>
      </div>
      
    </div>

  </div>
</section>

<section class="portfolio">
  <div class="container">
    <h3>&Uacute;ltimos Projetos</h3>

    <div class="project featured row">
      <div class="picture six columns">
        <img src="{{ '/images/projects/underskeleton.jpg' | prepend: site.baseurl }}">
      </div>
      <div class="six columns">
        <h5 class="title">Underskeleton</h5>
        <p>Underskeleton &eacute; um tema base para WordPress desenhado para velocidade de carregamento e desenvolvimento, usa Skeleton Boilerplate para seu sistema de grade e somente estilos necess&aacute;rios para voc&ecirc; come&ccedil;ar a desenvolver seu pr&oacute;ximo super tema em WordPress.</p>
        <div class="actions">
          <a class="button" href="http://getunderskeleton.com">Ir para o site</a>
        </div>
      </div>
    </div>
    <hr class="small">
    {% assign posts = site.categories.portfolio | where:"lang", page.lang %}
    {% for post in posts limit:5 %}

    <div class="project row">
      <div class="picture six columns">
        <img src="{{ post.image | prepend: '/images/portfolio/'' | prepend: site.baseurl }}">
      </div>
      <div class="six columns">
        <h5 class="title">{{ post.title }}</h5>
        <p>{{ post.content }}</p>
        <div class="actions">
          <a class="button" href="{{ post.external_link }}">Ver ao vivo <i class="fa fa-external-link" target="_blank"></i></a>
        </div>
      </div>
    </div>
    <hr class="small">

    {% endfor %}

  </div>
</section>

{% include section-contact-cta.html %}
