<section id="side-projects" class="section">

<div class="posts">
  <div class="post">
    <h1 class="post-title">
      <a href="https://getunderskeleton.com" target="_blank">Underskeleton</a>
    </h1>
    <p>
      A super fast <u>WordPress Starter Theme</u> with minimalist, dead simple css boilerplate and grid system and just enough styling to get starter with your next awesome WordPress theme.
    </p>
    <div class="button-container">
      <a href="https://getunderskeleton.com" class="button" target="_blank">Learn more</a>
    </div>
  </div>
</div>

<div class="cta">
  <h3 class="call">
    Interested in Open Source code?
  </h3>
  <a href="{{ site.github.repo }}" class="button action" target="_blank">Check My GitHub</a>
</div>

</section>