// Theme file.
// Put your awesome design here.
// --------------------------------------------------

// External Links
#wrapper-content a[target='_blank'] {
  text-decoration: underline;
}

hr {
  &.small { width: 20%; }
  &.medium { width: 50%; }
  &.large { width: 80%; }
}

// Footer
footer {
  .email a, .phone a {
    display: inline-block;
    margin-bottom: 20px;

    @media (max-width: $screen-sm-max) {

      // --- copied from bootstrap/_buttons
      font-weight: $btn-font-weight;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
      border: 1px solid transparent;
      white-space: nowrap;
      @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
      @include user-select(none);
      // ---

      @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
    }
  }
}