<header class="site-header">
  <nav class="container">
    <div class="row">
      <div class="site-branding six columns">
        <h2><a href="{{ "/" | prepend: site.baseurl }}">Diego Versiani</a></h2>
      </div>
      <div class="site-navigation six columns" role="navigation">
        <ul class="main-menu">
          <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
          <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
          <li><a class="button button-primary contact" href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>