<header class="site-header">
  <nav class="container">
    <div class="row">
      <div class="site-branding four columns">
        <h2><a href="{{ "/" | prepend: site.baseurl }}">Diego Versiani</a></h2>
      </div>
      <div class="site-navigation eight columns" role="navigation">
        <ul class="main-menu">
          <li><a href="{{ site.t[page.lang].home_url | prepend: site.baseurl }}">{{ site.t[page.lang].home_title }}</a></li>
          <li><a href="{{ site.t[page.lang].about_url | prepend: site.baseurl }}">{{ site.t[page.lang].about_title }}</a></li>
          <li><a class="button button-primary contact" href="{{ site.t[page.lang].contact_url | prepend: site.baseurl }}">{{ site.t[page.lang].contact_title }}</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>