---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
<div class="container">
  <div class="row">
	  <header class="post-header col-xs-12">
	    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
	    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
	    <p class="post-categories">
	    	{% for category in page.categories %}<span class="label label-info">{{ category | replace:'_',' ' }}</span> {% endfor %}
	    	{% for tag in page.tags %}<span class="label label-success">{{ tag | replace:'_',' ' }}</span> {% endfor %}
	    </p>
	  </header>
  </div>
  <div class="row">
	  <div class="post-content col-xs-12" itemprop="articleBody">
	  	{% if page.featured-image %}
	  	<div class="featured-image text-center"><img class="img-portfolio img-responsive" src="{{ page.featured-image | prepend: site.baseurl }}"></div>
	  	{% endif %}
	    {{ content }}
	  </div>
  </div>
</div>
</article>